VITE_SITE_NAME=Valtoris Financial
VITE_CALENDLY_REPORT_CARD_URL=https://calendly.com/valtoris/reportcard
GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
GOOGLE_SHEETS_CALCULATOR_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbwQ-BQft16jp5_FLYwztT4gLeuNYx-bwEr2_AIGxO7LBDryMWjiAa_2gpjXtN2ibkM/exec
LEAD_NOTIFICATION_EMAIL=hello@valtorisfinancial.com
